<!doctype html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>

    <div class="container" style="margin-top: 2rem; margin-bottom: 2rem">
        <div class="d-flex flex-row justify-content-between align-content-between flex-wrap">
            <% listHeads.forEach(listHead => { %>
            <div class="card" style="width: 18rem; margin-bottom: 1rem">
                <div class="card-body">
                    <h5 class="card-title"><a class="card-title" href="/lists/<%= listHead.id %>"><%= listHead.name %></a></h5>
                </div>
            </div>
            <% }) %>
        </div>
    </div>

    <% include ../partials/footer %>
</body>

</html>