<!doctype html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>

    <div class="container" style="margin-top: 2rem; margin-bottom: 2rem">
        <a name="item1"></a>
        <h1 class="mb-4"><%= listHead.name %></h1>

        <ul class="list-group">
            <% listItems.forEach((listItem, idx) => { %>
            <a name="item<%= listItem.position + 1 %>"></a>
            <li class="list-group-item">
                <div class="float-left text-right" style="width: 2rem"><%= idx+1 %>.</div>
                <div class="ml-5"><%= listItem.bodyText %></div></li>
            <% }) %>
        </ul>
    </div>

    <% include ../partials/footer %>
</body>

</html>
