<!doctype html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>

    <div class="container" style="margin-top: 2rem; margin-bottom: 2rem">
        <h1><%= listHead.name %></h1>

        <ul class="list-group">
            <% listItems.forEach((listItem, idx) => { %>
            <li class="list-group-item"><%= idx+1 %>. <%= listItem.bodyText %></li>
            <% }) %>
        </ul>
    </div>

    <% include ../partials/footer %>
</body>

</html>