    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="/">Favolista</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Beranda</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link" href="/lists">Daftar Surat</a>
                  </li>
                  <li class="nav-item">
                <a class="nav-link" href="/about">Tentang Kami</a>
              </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0" action="/lists/search" method="get">
              <input class="form-control mr-sm-2" name="q" type="text" placeholder="Cari" aria-label="Cari">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cari</button>
            </form>
          </div>
        </nav>
    </header>
  