<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>

    <% include partials/header %>

      <div class="container marketing" style="margin-top: 4rem; margin-bottom: 4rem">

        <h1>Tentang Kami</h1>

        <p>Melayani kamu sepenuh hati.</p>

      </div><!-- /.container -->

      <% include partials/footer %>

  </body>
</html>
